<%- include('partials/header') %>
    <main> <p><ul>
        <li>Name: John Doe</li>
        <li>Introduction: I am a developer</li>
        <li>Hobbies: Coding, Hiking, Cooking</li>
        <li><img src="/images/chad.jpg" alt="Chad" height="300"></li>
    </ul></p></main>
<%- include('partials/footer') %>
  
   
